input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#main-container {
    display: flex;
    flex-direction: row;
    background-color: #ddbea9;
    color:aliceblue;
    justify-content: space-between;
}
body {
    margin: 0px;
}

.pixel {
    width: auto;
    height: auto;
    border: 2px solid black;
    flex: auto;
}

#sketch-pad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px;
    background-color: #ffe8d6;
    padding: 4vw;
    border-radius: 8%;
    width: 32vw;
    height: 32vw;
}

.x-axis {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.highlighted {
    background-color: black;
}

h1 {
    font-size: 300%;
    margin-bottom: 8px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 64px;
}

h1, h2 {
    text-align: center;
}

h3 {
    margin: 0%;
}

.container {
    display: flex;
    flex-direction: column;
}

#header-container {
    background-color: #6b705c;
    height: 100vh;
    padding: 16px;
    width: 16vw;
    min-width: 226px;
}

#sketchpad-container {
    margin: 0 auto;
    justify-content: center;
}

#footer-container {
    padding: 8px;
    background-color: #cd997e;
}

#canvas-size-input-container {
    display: flex;
}

#canvas-size-input {
    flex: 1;
    width: 8vw;
}